.history {
  width: 100%;
}

.history h2 {
  margin-bottom: 1rem;
}

.history-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(70px, 1fr));

  gap: 12px;
}

.history-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;

  border-radius: 12px;

  background: white;

  font-size: 1.5rem;
  font-weight: 700;

  box-shadow: 0 4px 10px rgba(0,0,0,.08);
}